# Pendeteksian Berita Palsu dengan Python

In [ ]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
#Membaca data
dataframenya = pd.read_csv("contoh-berita.csv")

#menampilkan shape dan lima baris pertama dalam dataset
print("shape : ", dataframenya.shape)
dataframenya.head()

shape :  (6335, 4)

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL

[5 rows x 4 columns]

In [ ]:
#Menampilkan label-labelnya
labels = dataframenya.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [ ]:
#Split dataset menjadi training dan testing sets
x_train, x_test, y_train, y_test = train_test_split(dataframenya['text'], labels, test_size=0.2, random_state=7)

In [ ]:
#Inisialisasi TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

#Fit dan transform train set, transform test set
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
tfidf_test = tfidf_vectorizer.transform(x_test)

In [ ]:
#Inisialisasi PassiveAggressiveClassifier
pac = PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train, y_train)

#Prediksi test set dan kalkulasi keakuratan
y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test, y_pred)
print(f'Akurasi : {round(score*100,2)}%')

Akurasi : 92.82%

In [ ]:
#Membuat confusion matrix
confusion_matrix(y_test,y_pred, labels = ['FAKE','REAL'])

array([[589,  49],
       [ 42, 587]])